<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
            <div id="header">
            {{>header}}
            </div>
            <div id="main-content">
            {{title}}
            </div>
        <div id="footer">
            {{>footer}}
        </div>
    </body>
</html>