<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
            <div id="header">
            {{>header}}
            </div>
            <div id="main-content" class="about">
                <div>
                 <img src="/img/siddhesh.jpg" alt="">
                 </div>
            <div>     
            {{desc}}
            </div>
            </div>
        <div id="footer">
            {{>footer}}
        </div>
    </body>
</html>