<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/icon.png">    </head>
    <body>
        <div id="header">
        {{>header}}
        </div>
        <div id="main-content">
        <p>{{help}}</p>
        </div>
        <div id="footer">
            {{>footer}}
        </div>
    </body>
</html>