<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/icon.png">
    </head>
    <body>
        {{>header}}
        <h1>Help article not found</h1>
        {{>footer}}
    </body>
</html>